= form_for @recipient_group, multipart: true do |f|
  - if @recipient_group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipient_group.errors.count, "error")} prohibited this recipient_group from being saved:"
      %ul
        - @recipient_group.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", style: "width:300px"

  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control", rows: 4, style: "width:500px"

  - if controller.action_name != 'edit'
    .form-group
      = f.file_field :data
  .actions
    = f.submit 'Save', class: "btn btn-primary"
